.navbar-toggler{
    border: 2px solid;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0,0,0);
}

h1{
    font-size: 2.9em;
    font-weight: bold;
}
.bg-light {
    background-color: #999999 !important;
}
.navbar-brand{
    font-weight: bold;
}

.jumbotron{
    background-color: white;
    margin-bottom: 0;
}
.p-2{
    width: 92%;
    margin-bottom: 50px;
    line-height: 1.8;
    background-color: #999999;
    border: 1px solid black;
}

.p-2 p{
    margin: 5px;
}


#chicken-tile,#beef-tile,#sushi-tile{
    background-color: #999999 !important;
}